<div class="back">
  {{FrontSide}}

  <hr id=answer>

  <dl class="translations">
    <dt>
      Strichfolge
    </dt>
    <dd>
      <div id="strichfolge-animation" class="strichfolge-animation">
        {{text:汉字}}
      </div>
    </dd>
    <dt>
      Pīnyīn
    </dt>
    <dd>
      {{Pīnyīn}}
    </dd>
    <dt>
      汉语
    </dt>
    <dd id="t2s-player-container" class="t2s-player-container">
      <div class="anki-droid-player">
        <tts style="display: none" service="android" voice="zh_CN">
          {{text:汉字}}
        </tts>
      </div>
      <div class="anki-web-player">
        {{text:汉字}}
      </div>
      <div class="anki-builtin-player">
        {{tts zh_CN:汉字}}
      </div>
    </dd>
    <dt>
      Deutsch
    </dt>
    <dd>
      {{Deutsch}}
    </dd>
  </dl>
</div>

<script type="module">
  import { init } from '../../components/write/init'
  init()
</script>
<script type="module">
  import { init } from '../../components/tts/init'
  init()
</script>
