{{FrontSide}}

<div class="exercise back anki-template-hanyu-hear-back">
  <hr id=answer>

  <dl class="translations">
    <dt>
      汉字
    </dt>
    <dd>
      {{汉字}}
    </dd>
    <dt>
      Strichfolge
    </dt>
    <dd>
      <div id="strichfolge-animation" class="strichfolge-animation">
        {{text:汉字}}
      </div>
    </dd>
    <dt>
      Pīnyīn
    </dt>
    <dd>
      {{Pīnyīn}}
    </dd>
    <dt>
      Deutsch
    </dt>
    <dd>
      {{Deutsch}}
    </dd>
  </dl>
</div>

<script type="module">
  import '../../../components/debug'
  import { init } from '../../../components/write/init'
  init()
</script>
