<style>
  @import url(../../../components/global.css);
</style>

<div class="exercise front anki-template-hanyu-hear-front">
  <aside class="exercise-kind">
    {{Card}}
  </aside>

  <dl class="prompt translations">
    <dt>
      汉语
    </dt>
    <dd id="t2s-player-container" class="t2s-player-container">
      <div class="anki-droid-player">
        <tts style="display: none" service="android" voice="zh_CN">
          {{text:汉字}}
        </tts>
      </div>
      <div class="anki-web-player">
        {{text:汉字}}
      </div>
      <div class="anki-builtin-player">
        {{tts zh_CN:汉字}}
      </div>
    </dd>
  </dl>

  <include src="src/components/notice/notice.html"></include>
</div>

<script type="module">
  import '../../../components/debug'
  import { init } from '../../../components/tts/init'
  init()
</script>
