<style>
  @import url(../../../components/global.css);
</style>

<div class="exercise front anki-template-hanyu-read-pinyin-front">
  <aside class="exercise-kind">
    {{Card}}
  </aside>

  <dl class="prompt translations">
    <dt>
      Pīnyīn
    </dt>
    <dd>
      {{Pīnyīn}}
    </dd>
  </dl>

  <include src="src/components/notice/notice.html"></include>
</div>

<!-- Suppress speech output on AnkiDroid until card flipped -->
<tts style="display: none" service="android" voice="zh_CN"></tts>

<script type="module">
  import '../../../components/debug'
</script>
