@import url(./debug/debug.css);
@import url(./notice/notice.css);
@import url(./tts/tts.css);
@import url(./write/write.css);

.exercise {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
}

.exercise-kind, .exercise-category {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5em;
}

.exercise-kind {
  float: left;
}

.exercise-category {
  float: right;
}

.prompt {
  clear: both;
}

.nightMode .exercise-kind,
.nightMode .exercise-category {
  color: rgba(255, 255, 255, 0.5);
}

hr#answer {
  border: none;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.12);
}

.nightMode hr#answer {
  background: rgba(255, 255, 255, 0.12);
}

.translations dt {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
}

.nightMode dt {
  color: rgba(255, 255, 255, 0.5);
}

.translations dd {
  font-size: 1.2rem;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

details > summary {
  list-style: none;
}