<style>
  @import url(../../../components/global.css);
  @import url(../../../components/facts.css);
</style>

<div class="exercise front facts-q-a-front">
  <aside class="exercise-kind">
    {{Card}}
  </aside>
  <aside class="exercise-category">
    {{Subdeck}}
  </aside>

  <div class="prompt facts-question">
    {{Front}}
  </div>

  <include src="src/components/notice/notice.html"></include>
</div>

<!-- Suppress speech output on AnkiDroid if globally enabled -->
<tts style="display: none" service="android" voice="zh_CN"></tts>

<script type="module">
  import '../../../components/debug'
</script>