<details>
  <summary class="notice-btn" title="About this template…">
    <span class="notice-btn-open-text">?</span>
    <span class="notice-btn-close-text">🗙</span>
  </summary>
  <aside class="notice-contents">
    <p>
      This Anki template is open source software available on
      <a href="https://github.com/tapirbug/anki-template-hanyu">GitHub</a>.
      <br>Go there for updates or if you are experiencing issues.
    </p>
    <p>
      Special thanks go out to Stefanie Yu for making the vocabulary in
      "Chinesisch lernen für die Sinolopgie, Band 1" available on Quizlet and
      to the authors of the book, Xia Baige and Wolfgang Zeidl.<br>

      Stefanie Yu kindly gave permission to make an Anki version of her
      vocabulary on Quizlet that can be freely shared among students of
      the University of Vienna.<br>
      
      Note that the Github version does _not_ include this vocabulary. If you
      are a student of the University of Vienna, you can get it from the Moodle
      course.
    </p>
    <p>
      This product includes software from the hanzi-writer project (MIT).
      <br>Copyright (c) 2014 David Chanin.
      <br><a href="https://github.com/chanind/hanzi-writer">https://github.com/chanind/hanzi-writer</a>
    </p>
    <p>
      This project also would not have been possible without these projects and
      the teams behind them:
    </p>
    <ul>
      <li>Anki (<a href="https://apps.ankiweb.net/">https://apps.ankiweb.net/</a>)</li>
      <li>parcel (<a href="https://parceljs.org/">https://parceljs.org/</a>)</li>
    </ul>
  </aside>
</details>
