.notice-open-btn-text {
  display: inline-block;
  font-size: 0.4em;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.3em;
  padding: 0.1em 0.4em;
}

.notice-open-btn {
  text-align: center;
  cursor: pointer;
}

.notice-contents {
  font-size: 0.5em;
}

.notice-contents ul {
  list-style-type: none;
}