.notice-btn-open-text,
.notice-btn-close-text {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
  padding: 0.1rem 0.4rem;
}

.notice-btn-open-text {
  display: inline;
}

.notice-btn-close-text {
  display: none;
}

details[open] .notice-btn-open-text {
  display: none;
}

details[open] .notice-btn-close-text {
  display: inline;
}

.notice-btn {
  text-align: center;
  cursor: pointer;
}

.notice-contents {
  font-size: 0.5rem;
}

.notice-contents ul {
  list-style-type: none;
}