{{FrontSide}}

<div class="exercise back anki-template-hanyu-write-back">
  <hr id=answer>

  <dl class="translations">
    <dt>
      汉字
    </dt>
    <dd>
      {{汉字}}
    </dd>
    <dt>
      Strichfolge
    </dt>
    <dd>
      <div id="strichfolge-animation" class="strichfolge-animation">
        {{text:汉字}}
      </div>
    </dd>
    <dt>
      Pīnyīn
    </dt>
    <dd>
      {{Pīnyīn}}
    </dd>
    <dt>
      汉语
    </dt>
    <dd id="t2s-player-container" class="t2s-player-container">
      <div class="anki-droid-player">
        <tts style="display: none" service="android" voice="zh_CN">
          {{text:汉字}}
        </tts>
      </div>
      <div class="anki-web-player">
        {{text:汉字}}
      </div>
      <div class="anki-builtin-player">
        {{tts zh_CN:汉字}}
      </div>
    </dd>
    <dt>
      Bemerkungen
    </dt>
    <dd>
      {{Bemerkungen}}
    </dd>
    <dt>
      Beispiele
    </dt>
    <dd>
      {{Beispiele}}
    </dd>
  </dl>
</div>

<script type="module">
  import '../../../components/debug'
</script>
<script type="module">
  import { init } from '../../../components/write/init'
  init()
</script>
<script type="module">
  import { init } from '../../../components/tts/init'
  init()
</script>
